:root {
    --ma-couleur-primaire: rgb(39,21,73); 
    --ma-couleur-secondaire: rgb(249,208,82);
    --ma-couleur-tertiaire: rgb(255,255,255);
}

html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', arial, sans-serif;
}

.hero-image {
    height: 100vh;
    background-image: url('./images/universite-accueil.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-title {
    font-size: 6rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    font-family: 'Satisfy', arial, sans-serif;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

header {
    /* height : 15vh; */
    background-color: var(--ma-couleur-primaire);
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    font-family: 'MontSerrat', arial, sans-serif;
    font-size: 1.6rem;
}
.upHeader {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 1rem;
}
.logoID {
    position: absolute;
    top: 25px;
    right: 50px;
    max-width: 100%;
    width: 15%;
    height: auto;
    margin: 10px;
}
.logoID svg {
    width: 20%;
    height: auto;
    float: right;
}
.logoID svg:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    color : var(--ma-couleur-secondaire);
}
#user-menu {
    cursor: pointer;
}  
#user-options {
    position: absolute;
    top: 50%;
    left: 90%;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
} 
#user-options:hover {
    background-color: var(--ma-couleur-secondaire);
    box-shadow: 0 2px 5px rgba(249,208,82,0.2s);
}
#user-options a:hover {
    background-color: var(--ma-couleur-secondaire);
} 
#user-options a {
    display: block;
    padding: 2px 0;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.name {
    text-align: center;    
}
.name h1 {
    display: flex;
    text-align: center;
    padding: 50px;
    font-size: 40px;
    font-style: bold;
    font-family: 'Satisfy', arial, sans-serif;
}
.menu {
    width: 100%;
}
.menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;

}

.menu li {
    margin-right: 1rem;
    transition: transform 0.2s ease;
}

.menu a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;

}

.menu a:hover {
    color : var(--ma-couleur-secondaire);    
}
.menu li:hover {
    transform : scale(1.05);
}

main {
    background-color: white;
}
.titreTableau {
    background: rgb(218,71,89);
    padding : 10px;
    height : 50px;
}
.tableauContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 15vh;
}

.tableauContent table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tableauContent table tr td {
    border: 2px solid black;
    padding: 20px;
    margin-right: 50px;
    color: var(--ma-couleur-primaire);
    font-size: 1.3rem;
    text-align: center;
}
.bloc1 {
    background-color: var(--ma-couleur-secondaire);
    color :var(--ma-couleur-primaire);
    padding : 5vh 20vw;
    text-align: center;
}
.containerBlocs {
    display: flex;
    justify-content: space-between;
    gap: 75px; 
    padding: 5vw;
    background-image: url(./images/blocEntreprise.jpg);
}
.bloc {
    flex: 1;
    padding: 20px;
    color: white;
}

#blocEtudiant {
    background-color: rgb(218,71,89);
}

#blocEntreprise {
    background-color: rgb(55,183,213);
}
.blocFonctionnalites {
    background-color: white;
    color :var(--ma-couleur-primaire);
    margin-top: 50px;
    padding-right: 20vw;
    padding-left : 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocFonctionnalitesContainer {
    display: flex;
    justify-content: space-between;
    gap : 2%;
    padding: 1vh 5vw;    
}
.blocFonctionnalitesContainer h3 {
    text-decoration: underline;
}
.reservation {
    margin-bottom: 50px;
    background-color: rgb(147,91,158);
    padding: 2%;
    color : white;
}
.informations {
    margin-bottom: 50px;
    padding: 2%;
    background-color: var(--ma-couleur-primaire);
    color : white;
}
.profils {
    margin-bottom: 50px;
    padding: 2%;
    background-color: rgb(49, 15, 55);
    color : white;
}
.blocInscription {
    padding: 2%;
    background-color: rgb(218,71,89);
    color : white;
    text-align: center;
    padding: 5vh 20vw;
}
.blocInscription a {
    color: white;
    text-decoration: underline;
    font-family: 'Monserrat', arial, sans-serif;
    font-size: 1.4rem;
}
.blocInscription a:hover {
    color: var(--ma-couleur-secondaire);
    text-decoration: underline;
}
.mainBilletterieImg img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    object-position: center;
}
.billetterieBanner {
    width: 100%;
    height: 20vh;
    background-color: var(--ma-couleur-primaire);
}
.billetterieBannerText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 105%;
    color: white;
    font-size: 1.8rem;
}
.billetterieBannerText a {
    color: white;
    text-decoration: none;
    font-family: 'Monserrat', arial, sans-serif;
}   
.billetterieBannerText a:hover {
    color: var(--ma-couleur-secondaire);
    text-decoration: underline;
}
.blocFonctionnalites {
    display: flex;
    justify-content: space-between;
    gap : 20px;
}
.carte {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.mainFaqImg img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: center;
}

.mainContent {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
.titreFaq {
    text-align: center;
}

.textFaq {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 15vh;
    text-align: center;
}
.textFaq p {
    color : var(--ma-couleur-primaire);
}
.textFaq hr {
    border: none;
    height: 2px;
    background-color: var(--ma-couleur-secondaire);
    opacity: 1;
}

.textFaq h5 {
    color: var(--ma-couleur-primaire);
    font-family: 'Montserrat', arial, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.textFaq h6 {
    color: var(--ma-couleur-primaire);
    font-weight: bold;
    margin-top: 30px;
}

.lienContact {
    text-decoration: none;
    color: var(--ma-couleur-primaire);
}

.lienContact:hover {
    color: var(--ma-couleur-primaire);
    text-decoration: underline;
}

.titre {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: var(--ma-couleur-primaire);
}

.connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10vh 5vw;
}
.connexionContainer {
    display: flex;
    align-items: center;
    gap : 50%;
}

.logoReseaux {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.textBloc {
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 15vh;
}

.textBloc hr {
    border: none;
    height: 2px;
    background-color: var(--ma-couleur-secondaire);
    opacity: 1;
}

.textBloc h5 {
    color: black;
    font-family: 'satisfy', arial, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.textBloc h6 {
    color: var(--ma-couleur-primaire);
    font-weight: bold;
    margin-bottom: 20px;
}

.logoReseaux svg {
    width: 5vw;
    height: auto;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;

}

.gauche {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
}

.droite {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.droite a {
    height: 5vh;
    width: auto;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.droite a:hover {
    text-decoration: underline;
}
footer {
    background-color: var(--ma-couleur-primaire);
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'MontSerrat', arial, sans-serif;
}

footer img {
    width: 75px;
    height: auto;
    display: flex;
    justify-content: flex-start;
}

.footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
    margin-bottom: 5px;
}

.logoFooter,
.textFooter,
.footerLinks {
    flex: 1;
}

.textFooter {
    margin-left: 30px;
    margin-top: 10px;
    text-align: left;
    font-size: 15px;
    
}

.footerLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.footerLinks a {
    margin-top: 10px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    display: flex;
    font-size: 18px;
}

.footerLinks a:hover {
    color: var(--ma-couleur-secondaire);
}

.links {
    display: flex;
}

.links a {
    margin-left: 30px;
    text-decoration: none;
    color: white;
    margin-bottom: 10px;
    display: flex;
    font-size: 18px;
    margin-right: 10px;
}

.socialIcons {
    margin-top: 10px;
    display: flex;
}

.socialIcons svg {
    margin-left: 50px;
    margin-right: 10px;
    height: 25px;
    width: auto;
}

.socialIcons svg:hover {
    color: var(--ma-couleur-secondaire);
}